<form action="/authors/add" method="post">
    <label for="firstName">First name</label>
    <input type="text" name="firstName">

    <label for="lastName">Last name</label>
    <input type="text" name="lastName">

    <label for="nationality">Nationality</label>
    <input type="text" name="nationality">

    <label for="birthday">Birth date</label>
    <input type="date" name="birthday">

    <label for="pictureUrl">Picture Url</label>
    <input type="text" name="pictureUrl">

    <button type="submit">Add</button>
</form>